<!DOCTYPE html>
<html>
  <head>
    <title>API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API</h1>
    <p>OUTPUT:  <%= title %></p>
  </body>
</html>
